{% load sekizai_tags %}
<!doctype html>
<html>
<head>
<title>Meet people {% block metatitle %}{% endblock metatitle %}</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% render_block 'css' %}
</head>
<body onload='initialize()'>


	{% block main_content %}
	{% endblock main_content %}
	

{% addtoblock 'base-js' %}
    <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
{% endaddtoblock 'base-js' %}
{% render_block 'base-js' %}	
{% render_block 'js' %}	
</body>
</html>