{% extends 'base_templates/base.html' %}
{% load sekizai_tags %}
{% block metatitle %}in {{curr_location}}{% endblock metatitle %}
{% block main_content %}
	<h1>Location</h1>
	{% if not new_location %}
    <h2>You are currently adding a new location listings for {{curr_location}}</h2>
        <div id="crumbs">
         <a href="/" title="home">Home</a>
         {% if crumbs %}
          > 
            {% for c in crumbs reversed %}
                {% if not forloop.last %}<a href="/places/{{c.id}}/" title="{{c}}">{{c}}</a> > {% else %}
                {{c}}
                {% endif %}
            {% endfor  %}
        {% endif %}
        </div>

    {% else %}
		<h2>We haven't visited {{curr_location}} yet!</h2>
		<h3>Would you like to add a listing?</h3>
	{% endif %}
    
    <form method="post" action="">
        {{form.as_p}}
        <input type="submit" value="Submit" />
        {% csrf_token %}
    </form>
    <p>Centre/zoom the map to your desired location and then <span id="coords">click here</span> to fill form instamatically</p>
    
	<div id=map></div>
    <div class="clear">
        <a href="/places/{{curr_location.id}}">Back to the {{curr_location}} listings</a>
    </div>
    {% if venues %}
        <div id="venues">
           <h3>Venues in {{curr_location}}</h3>
           <ul>
           {% for v in venues %}
                <li><a href="/venue/{{v.id}}/" title="{{v}}">{{v}}</a></li>
           {% endfor %}
           </ul>
        </div>
    {% endif %}
	{% if children %}
		<div id="locations">
			<h3>Places already added in {{curr_location}}</h3>
			<ul>
			{% for c in children %}
					<li><a href="/places/{{c.id}}/" title="{{c}}">{{c}}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}
	
{% addtoblock 'css' %}
<style>
    body {font-family: sans-serif}
    #map {width: 300px; height: 300px; float:left; margin-right:1em;}
	.clear{clear:both}
	div#locations {float:left;}
	ul {list-style:none;}
    ul li{margin:0.5em 0;}
    span#coords{font-weight:bold;}
    span#coords:hover{cursor:pointer; cursor:hand;}
</style>
{% endaddtoblock %}

{% addtoblock 'js' %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
var map;
function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
        zoom: {% if zoom %}{{zoom}}{% else %}15{% endif %},
        center: new google.maps.LatLng({{lat}},{{lon}}),
        mapTypeId: google.maps.MapTypeId.ROADMAP 
    });
}

$(document).ready(function() {
  $('#coords').click(function() {
    var placement = map.getCenter();
   $('#id_latitude').val(placement.lat())
   $('#id_longitude').val(placement.lng())
   $('#id_density').val(map.getZoom())
  });
});

</script>
{% endaddtoblock %}
	
{% endblock main_content %}