{% extends 'base_templates/base.html' %}
{% load sekizai_tags %}
{% block metatitle %}in {{curr_location}}{% endblock metatitle %}
{% block main_content %}
	<h1>Welcome to Clubmates</h1>
    <h3>Please select a location within the United Kingdom to begin</h3>
    
	{% if children %}
		<div id="locations">
			<h3>Places in United Kingdom</h3>
			<ul>
			{% for c in children %}
					<li><a href="/places/{{c}}/" title="{{c}}">{{c}}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}

{% endblock main_content %}